<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>URL Sharing</title>
  <!-- Load React. -->
  <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
  <script src="/common/js/react.development.js" crossorigin></script>
  <script src="/common/js/react-dom.development.js" crossorigin></script>
  <script src="/common/js/browser.min.js"></script>
  <script src="/common/js/firebase.js"></script>
  <script src="/common/js/firebase-firestore.js"></script>
  <link rel="stylesheet" href="/css/urlput.css" media="all">
  <link rel="stylesheet" href="/css/feed.css" media="all">
</head>
<body>
  <img id="account_profile_img" src="" alt="">
  <h2 id="account_name"></h2>
  <p id="account_intro"></p>
  <button id="button__follow">この人をフォロー</button>
  <div id="container"></div>
  <button onclick="copyURL()">Copy URL</button>
  <script src="/common/js/jquery-3.3.1.min.js"></script>
  <script src="/js/account.js"></script>
  <script>
    function copyURL(){
       $('body').append('<textarea id="currentURL" style="position:fixed;left:-100%;">'+location.href+'</textarea>');
       $('#currentURL').select();
       document.execCommand('copy');
       $('#currentURL').remove();
    }
  </script>
</body>
</html>
