<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>URL Sharing</title>
  <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
  <script src="/common/js/react.development.js" crossorigin></script>
  <script src="/common/js/react-dom.development.js" crossorigin></script>
  <script src="/common/js/browser.min.js"></script>
  <script src="/common/js/firebase.js"></script>
  <script src="/common/js/firebase-firestore.js"></script>
  <link rel="stylesheet" href="/css/urlput.css" media="all">
  <link rel="stylesheet" href="/css/feed.css" media="all">
  <link rel="stylesheet" href="/css/account.css" media="all">
</head>
<body>
  <img id="account_profile_img" src="" alt="" class="prof_img">
  <h2 id="account_name" class="prof_name"></h2>
  <button id="button_follow" class="button_follow">フォローする</button>
  <p class="rf"></p>
    <p class="f">
      <a href="#" class="num_follow">????Follow</a>
      <a href="#" class="num_follow">????Follower</a>
    </p>
  <p class="account_intro">
    <id="account_intro">
  </p>
  <p class="rf"></p>
  <button onclick="copyURL()" class="copy_url_design">Copy URL</button>
  <a href="#"><img src="/img/Twitter.png" class="SNS_img"></a>
  <a href="#"><img src="/img/facebook.png" class="SNS_img"></a>
  <a href="#"><img src="/img/github.jpg" class="SNS_img"></a>
  <a href="#"><img src="/img/instagram.png" class="SNS_img"></a>
  <a href="#"><img src="/img/other.jpg" class="SNS_img"></a> 
  <h2 class="container-title">URLs</h2>
  <hr width="1150" class="hr">
  <div id="container"></div>
  <script src="/common/js/jquery-3.3.1.min.js"></script>
  <script src="/js/account.js"></script>
  <script>
    function copyURL(){
       $('body').append('<textarea id="currentURL" style="position:fixed;left:-100%;">'+location.href+'</textarea>');
       $('#currentURL').select();
       document.execCommand('copy');
       $('#currentURL').remove();
    }
  </script>
</body>
</html>
