<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>URL Sharing</title>
  <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
  <script src="/common/js/react.development.js" crossorigin></script>
  <script src="/common/js/react-dom.development.js" crossorigin></script>
  <script src="/common/js/browser.min.js"></script>
  <link rel="stylesheet" href="/css/urlput.css" media="all">
  <link rel="stylesheet" href="/css/feed.css" media="all">
  <link rel="stylesheet" href="/css/account.css" media="all">
  <link rel="stylesheet" href="/css/folder.css" media="all">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131300251-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-131300251-1');
  </script>
</head>
<body>
  <div id="main-container">
    <main>
      <div class="profile__container clearfix">
        <div class="ap__profile-img__container">
          <img id="account_profile_img" src="" alt="" class="ap__profile-img">
          <canvas id="preview" width="192" height="192"></canvas>
          <input type="file" accept="image/*" id="changer__ap__profile-img" class="changer__ap__profile-img">
        </div>
        <div class="profile__eximg">
          <h2 id="account_name" class="profile-name"></h2>
          <button id="button_follow" class="button__follow">フォローする</button>
          <button id="buttonDetail" class="button__follow">詳細を見る</button>
          <p class="profile__intro clearfix">
            <span id="account_intro"></span>
          </p>
          <button onclick="copyURL()" class="copy_url_design">Copy URL</button>
          <div class="sns__container">
            <a href="#"><img src="/img/Twitter.png" class="SNS_img"></a>
            <a href="#"><img src="/img/facebook.png" class="SNS_img"></a>
            <a href="#"><img src="/img/github.jpg" class="SNS_img"></a>
            <a href="#"><img src="/img/instagram.png" class="SNS_img"></a>
            <a href="#"><img src="/img/other.jpg" class="SNS_img"></a> 
          </div>
          <div class="follow__container">
            <a href="#" class="num-follow">10 フォロー</a>
            <a href="#" class="num-follow">24 フォロワー</a>
          </div>
        </div>
      </div>
      <div class="url-folders__container">
        <h2 class="url-folders__title">URLs</h2>
        <div id="container">
        </div>
      </div>
    </main>
  </div>
  <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.0.0/firebase-storage.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.0.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-firestore.js"></script>
  <script>
    var config = {
      apiKey: "AIzaSyDifH0dRKR2w8XRZIeXgKOZANnP3iv2qsc",
      authDomain: "urlsharing-541c7.firebaseapp.com",
      databaseURL: "https://urlsharing-541c7.firebaseio.com",
      projectId: "urlsharing-541c7",
      storageBucket: "urlsharing-541c7.appspot.com",
      messagingSenderId: "756728507687"
    };
    firebase.initializeApp(config);
  </script>
  <script src="/common/js/jquery-3.3.1.min.js"></script>
  <script src="/js/account.js"></script>
  <script>
    function copyURL(){
       $('body').append('<textarea id="currentURL" style="position:fixed;left:-100%;">'+location.href+'</textarea>');
       $('#currentURL').select();
       document.execCommand('copy');
       $('#currentURL').remove();
    }
  </script>
</body>
</html>
