<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>URL Sharing</title>
  <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
  <script src="/common/js/react.development.js" crossorigin></script>
  <script src="/common/js/react-dom.development.js" crossorigin></script>
  <script src="/common/js/firebase.js"></script>
  <script src="/common/js/firebase-firestore.js"></script>
  <link rel="stylesheet" href="/css/urlput.css" media="all">
  <link rel="stylesheet" href="/css/folder.css" media="all">
  <link rel="stylesheet" href="/css/feed.css" media="all">
</head>
<body>
  <div id="container__latest"></div>
  <div id="container"></div>
  <footer>
    <p>&copy; Real OZ Project org. | 2018</p>
  </footer>
  <script src="/common/js/jquery-3.3.1.min.js"></script>
  <script src="/js/feed.js"></script>
</body>
</html>
