<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>URL Sharing feed</title>
  <!-- Load React. -->
  <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
  <script src="/common/js/react.development.js" crossorigin></script>
  <script src="/common/js/react-dom.development.js" crossorigin></script>
  <script src="/common/js/browser.min.js"></script>
  <script src="/common/js/firebase.js"></script>
  <script src="/common/js/firebase-firestore.js"></script>
  <link rel="stylesheet" href="/css/urlput.css" media="all">
  <link rel="stylesheet" href="/css/urlset.css" media="all">
</head>
<body>
  <div id="container"></div>
  <div id="urlput_post"></div>
  <button id="add_button">+</button>
  <script type="text/babel" src="/jsx/urlset.jsx"></script>
  <script src="/common/js/jquery-3.3.1.min.js"></script>
  <script type="text/babel" src="/jsx/add_button.jsx"></script>
</body>
</html>
