<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>URLスクラップブック</title>
</head>
<body>
  <h1>URL Shaing</h1>
  <main>
  <h2>きちんと実力を評価してもらいたい</h2>
  <p>どうすれば学んで来たことをきちんと評価してもらえるでしょうか。誰かの定めた資格でしょうか、はたまたあるコンテストでの表彰経験でしょうか。ただひたすらに強さを追い求めて日の元を歩いたことのない人間は、ただ表舞台へ出る勇気のある人間に負けてしまうのでしょうか。</p>
  <p>私は、評価の方法として、わかりやすい経歴には意味があると思っています。しかし、その人の実力を図るという意味では全く意味があるとは思えません。実際に、グループ内に入れるか否かは測れても、最適にその人の才能を活かすには、「知っていることを全て網羅する」方が早いでしょう。</p>
  <h2>知っていることを公開する既存の方法</h2>
  <p>私の好きなサービスに、<a href="note.mu">note</a>というサービスがあります。これは学んだことをまとめる、文字通り電子化されたノートのようなサービスです。これは非常に使いやすいサービスですが、学んだことを記事にするのには、非常に時間がかかります。</p>
  <h2>学んだことをそのまま見せる</h2>
  <p>勉強するときにノートを作成します。それは歴史的に見ても、ずっと繰り返されていることです。なぜ、自分の理解していることを人にわかってもらうのに、自分が理解するために書いたこれを見せないのでしょうか。私はここに、意味を感じました。</p>
  <h2>ただし、作ることにではなく、見せることに特化する</h2>
  <h2>人にものを教えるときも、これで解決</h2>
  <h2>SEOを超え、古い情報を淘汰する</h2>
  </main>
<script src="https://www.gstatic.com/firebasejs/5.5.5/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDifH0dRKR2w8XRZIeXgKOZANnP3iv2qsc",
    authDomain: "urlsharing-541c7.firebaseapp.com",
    databaseURL: "https://urlsharing-541c7.firebaseio.com",
    projectId: "urlsharing-541c7",
    storageBucket: "urlsharing-541c7.appspot.com",
    messagingSenderId: "756728507687"
  };
  firebase.initializeApp(config);
</script>
</body>
</html>
