<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>URL Sharing</title>
  <script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-firestore.js"></script>
  <script>
  const config = {
    apiKey: "AIzaSyDifH0dRKR2w8XRZIeXgKOZANnP3iv2qsc",
    authDomain: "urlsharing-541c7.firebaseapp.com",
databaseURL: "https://urlsharing-541c7.firebaseio.com",
    projectId: "urlsharing-541c7",
    storageBucket: "urlsharing-541c7.appspot.com",
    messagingSenderId: "756728507687"
  };
  firebase.initializeApp(config);
  </script>
  <script src="https://cdn.firebase.com/libs/firebaseui/3.1.1/firebaseui.js"></script>
  <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.1.1/firebaseui.css" /> 
  <link rel="stylesheet" href="/css/top_page.css">
  <script>var ui = new firebaseui.auth.AuthUI(firebase.auth());</script>
</head>
<body>
  <header>
      <img src="/img/OZ.png">
      <p>URL-Sharing<br>情報を一瞬<br>共有しよう<br></p>
      <div class="clear"></div>
  </header>

  <main>

   <h1 class="main-logo">まとめるの やめませんか？</h1>
      <div class="clear"></div>

  <div class="contents">
     情報を発信するためにブログやQiita,noteに記事を書く時間はもったいない。<br>
     なぜなら発信したい情報は、多くの場合Webに既にあるから。<br>
    <img src="/img/pc_img.jpeg">
  </div>

  <h1 class="main-logo">チームで知識を共有</h1>
      <div class="clear"></div>

  <div class="contents">
     実装理由の分からないコードや常識を覆すデザインなど、相手が自分より力を持っている時、<br>
     直接相手の知識を覗けたらチームの成長スピードは格段に上がるはず。<br>
    <img src="/img/share_img.jpeg">
  </div>
  
  <h1 class="main-logo">有益な知識を売る</h1>
      <div class="clear"></div>

  <div class="contents"> 
     アイデアには絶対的に金銭的価値を持っています。<br>
     SoftBankや、ARMなど知識人の方が実装作業よりも重要になる例はたくさんあります。<br>
     テーマに沿ってURLをまとめ、価格を決めて販売しましょう。<br>
     これはコンサルティングよりも圧倒的に少ない手の内で、<br>
     買う側は安く、売る側は高い収益を上げることができます。<br>
     <img src="/img/pay_img.jpeg">
  </div>

  </main>

  <div id="firebaseui-auth-container"></div>
  <div id="loader">Loading...</div>
 <footer>
   <p class="footer-logo">&copy; Real OZ Project  org.| 2018</p>
 </footer>

  <script>
    var uiConfig = {
      callbacks: {
        signInSuccessWithAuthResult: function(currentUser, credential, redirectUrl) {
          // サインイン成功時のコールバック関数
          // 戻り値で自動的にリダイレクトするかどうかを指定
          return true;
        },
        uiShown: function() {
          // FirebaseUIウィジェット描画完了時のコールバック関数
          // 読込中で表示しているローダー要素を消す
          document.getElementById('loader').style.display = 'none';
        }
      },
      // リダイレクトではなく、ポップアップでサインインフローを表示
      signInFlow: 'popup',
      signInSuccessUrl: 'feed/',
      signInOptions: [
        // サポートするプロバイダ(メールアドレス)を指定
        firebase.auth.EmailAuthProvider.PROVIDER_ID,
        firebase.auth.GoogleAuthProvider.PROVIDER_ID,
        firebase.auth.FacebookAuthProvider.PROVIDER_ID,
        firebase.auth.GithubAuthProvider.PROVIDER_ID,
      ],
      // Terms of service url.
      tosUrl: '<your-tos-url>'
    };
    ui.start('#firebaseui-auth-container', uiConfig);
  </script>
</body>
</html>
