<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>URL Sharing</title>
  <script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-auth.js"></script>
  <script>
    var config = {
      apiKey: "AIzaSyDifH0dRKR2w8XRZIeXgKOZANnP3iv2qsc",
      authDomain: "urlsharing-541c7.firebaseapp.com",
      databaseURL: "https://urlsharing-541c7.firebaseio.com",
      projectId: "urlsharing-541c7",
      storageBucket: "urlsharing-541c7.appspot.com",
      messagingSenderId: "756728507687"
    };
    firebase.initializeApp(config);
    const auth = firebase.auth()

    auth.onAuthStateChanged(function(user){
      if(user !== null) {
        var redirect_url = "/home" + location.search;
        if (document.referrer) {
          var referrer = "referrer=" + encodeURIComponent(document.referrer);
          redirect_url = redirect_url + (location.search ? '&' : '?') + referrer;
        }
        location.href = redirect_url;
      }
    })
  </script>
  <link rel="stylesheet" href="/css/public.min.css" media="all">
  <link rel="icon" type="image/png" href="/favicon.png">
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NCQ465J');</script>
  <!-- End Google Tag Manager -->


  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131300251-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-131300251-1');
  </script>
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NCQ465J"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <nav id="globalnav">
    <div class="gn-container"><!-- global navigation container -->
      <ul class="gn-header">
        <li class="gn-header-item gn-menuicon">humber menu</li>
        <li class="gn-header-item gn-rop">
          <a class="gn-link" href="/signup">ログイン</a>
        </li>
      </ul>
      <ul class="gn-list">
        <li class="gn-header-item gn-rop">
          <a class="gn-link-rop" href=""></a>
        </li>
      </ul>
    </div>
  </nav>
  <main>
    <section>
      <div class="key-container">
        <div class="key-img"></div>
        <div class="key-message">
          <h1 class="product-title">URL Sharing</h1>
          <h1 class="product-subtitle">version beta</h1>
          <p class="product-description">情報を次の世界へ</p>
          <a class="signup-button" href="/signup">今すぐ始める</a>
        </div>
      </div>
    </section>
    </div>
    <section>
      <div class="unit-container" id="product-value">
        <ul class="product-value">
          <li class="product-value-item">
            <img src="/img/time-icon.png">
            <h2 class="product-value-title">作る時間を１秒に</h2>
            <p class="product-value-paragraph"> 情報を発信するためにブログやQiita,noteに記事を作る時間はもったいない。<br>
            なぜなら発信したい情報は既にWebにあるから。</p>
          </li>
          <li class="product-value-item">
            <img src="/img/social-icon.png">
            <h2 class="product-value-title">チームやスペシャリストと知識を共有</h2>
            <p class="product-value-paragraph">これはどういう意味で実装したの？」「どうやってこんな綺麗なレイアウトどうやったの？」など
            相手が自分より力を持っている時、直接相手の知識を覗けたらチームの成長スピードは格段に上がるはず。</p>
          </li>
          <li class="product-value-item">
            <img src="/img/money-icon.png">
            <h2 class="product-value-title">知識を売る</h2>
            <p class="product-value-paragraph">アイデアには金銭的価値があります。SoftBankや、ARMなど知識が作業よりもお金を生む例はたくさんあります。
            テーマに沿ってURLをまとめ、価格を決めて販売しましょう。これはコンサルティングよりも圧倒的に少ない手間で、
            買う側は安く、売る側は高い収益を上げることができます。
            </p>
          </li>
        </ul> 
      </div>
    </section>
  </main>
  <footer>
    <div class="footer-container">
      <span id="copyright">Copyright &copy; 2019 Real OZ Project org. All rights reserved.</span>
    </div>
  </footer>
</body>
</html>
