<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>サインイン - URLSharing</title>
  <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.1.1/firebaseui.css" /> 
  <link rel="stylesheet" href="/css/signup.css">
  <link rel="stylesheet" href="/css/basic_component.css">
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NCQ465J');</script>
  <!-- End Google Tag Manager -->


  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131300251-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-131300251-1');
 </script>
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NCQ465J"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <nav id="globalnav">
    <div class="gn-container"><!-- global navigation container -->
      <ul class="gn-header">
        <li class="gn-header-item gn-menuicon">humber menu</li>
        <li class="gn-header-item gn-rop">
          <a class="gn-link" href=""></a>
        </li>
      </ul>
      <ul class="gn-list">
        <li class="gn-header-item gn-rop">
          <a class="gn-link-rop" href=""></a>
        </li>
      </ul>
    </div>
  </nav>
  <main>
    <div id="container">
      <div class="accountbox">
        <div id="account-page-header">
          <h1>ログイン</h1>
        </div>
        <div id="account-content">
          <div id="firebaseui-auth-container"></div>
          <div id="loader">Loading...</div>
        </div>
      </div>
    </div>
  </main>
  <script src="https://cdn.firebase.com/libs/firebaseui/3.1.1/firebaseui.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.0.0/firebase-storage.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-firestore.js"></script>
  <script>
    var config = {
      apiKey: "AIzaSyDifH0dRKR2w8XRZIeXgKOZANnP3iv2qsc",
      authDomain: "urlsharing-541c7.firebaseapp.com",
      databaseURL: "https://urlsharing-541c7.firebaseio.com",
      projectId: "urlsharing-541c7",
      storageBucket: "urlsharing-541c7.appspot.com",
      messagingSenderId: "756728507687"
    };
    firebase.initializeApp(config);
  </script>
  <script src="/js/signup.js"></script>
</body>
</html>
