*{
  margin: 0;
  padding: 0;
}

.BB{
 z-index:5;
 background:#000;
 opacity:0.3;
 width:100vw;
 height:100vh;
 position:fixed;
 top:0px;
 left:0px;
 display:none;
}

.edi__box{
 z-index:10;
 color:#000;
 width:60vw;
 height:70vh;
 position:fixed;
 top:20vh;
 left:15vw;
 font-color:#000;
 display:none;
 background:#0FF;
}

.edi__cancel{
 color:#FFF;
 width:10vh;
 height:10vh;
 font-size:10vh;
 float:right;
}


@media(min-width: 1024px){

  .edi__intro{
   font-size:20px;
  }

  .edi__box{
   font-size:30px;
   margin-top:10px;
   margin-bottom:10px;
   padding-left:10px
  }

  .edi__type{
   width:70%;
   height:30px;
   font-size:30px;
  }

  .edi__save{
   width:70px;
   height:40px;
   line-height:5px;
  }
  
  #main-container{
    max-width: 1024px;
    margin: 10vh auto;
  }
  
  .ap__profile-img__container{
    float:left;
    position: relative;
    margin: 0 40px 0 50px;
    height: 192px;
    width: 192px;
  }
    
  .ap__profile-img, #changer__ap__profile-img{
   border-radius: 50%;
   height: 100%;
   width: 100%;
  }

  .ap__profile-img{ display:block; }
  .changer__ap__profile-img{ display: none; }
  
  #changer__ap__profile-img, #preview{
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
  }

  .edit-active__ap__profile-img{ display: block; }
  .edit-active__ap__profile-img__container:before{
    position: absolute;
    bottom: 0;
    left: 10%;
    display: block;
    content: '画像を変更';
    width: 80%;
    height: 5vw;
    background: black;
    color: white;
    opacity: 0.8;
    font-size: 10px;
    line-height: 5vw;
    border-radius: 0 0 100% 100%;
    z-index: 2;
    text-align: center;
  }

  .profile__eximg{
    float: left;
    width: 700px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .profile-name{
    display:block;
    width: 300px;
    font-size: 24px;
    line-height: 24px;
    margin: 36px 0 25px 0;
    text-align:center;
  }
  
  .button__follow{
   display:block;
   font-size:20px;
   text-align:center;
   width:150px;
   height:50px;
   margin: 23px 25px;
   color:#4CAF50;
   border-radius:25px;
  }
  
  .profile__intro{
   width: 100%;
   height: 160px;
   margin-right: 20px;
  }
  
  .f{
    float:left;
  }
  
  .rf{
      clear:left;
  }
  
  .num-follow{
   display:block;
   font-size:30px;
   height:30px;
   color:#4CAF50;
   font-weight:bold;
   text-align:center;
   margin-right: 20px;
  }
  
  .copy_url_design{
    width:125px;
    height:50px;
    color:#4CAF50;
    border-radius:25px;
    font-size:20px;
    display: none;
  }
  
  .sns__container{
    margin: 20px 0;
    width: 100%;
    float: left;
  }
  
  .SNS_img{
   display: inline-block;
   width: 36px;
   height: 36px;
   border-radius: 25%;
  }
  
  
  .follow__container{
    width: 100%;
    display: flex;
  }
  
  .clearfix::after{
    content: "";
    clear: both;
    display: block;
  }
  
  
  .url-folders__container{
    margin: 60px 0;
  }
  
  
  .url-folders__title{
   display:block;
   font-size: 32px;
  }
  
  
  .container__wrapper{
    margin: 0;
  }
}


@media(max-width: 1023px){
  
  #main-container{ margin: 2vh 0 0 0; }

    .edi__box{
   font-size:15px;
   margin-top:5px;
   margin-bottom:5px;
  }

  .edi__save{
   width:45px;
   height:15px;
   line-height:5px;
  }
  
  .profile__container{
    height: 30vh;
    margin: 0 9px;
  }

  .ap__profile-img__container{
    position: relative;
    height: 24vw;
    width: 24vw;
  }
    
  .ap__profile-img, #changer__ap__profile-img{
   border-radius: 50%;
   height: 100%;
   width: 100%;
  }

  .ap__profile-img{ 
    display:block;
    border: 1px solid;
  }
  .changer__ap__profile-img{ display: none; }

  .edit-active__ap__profile-img{ display: block; }
  .edit-active__ap__profile-img__container:before{
    position: absolute;
    bottom: 0;
    left: 10%;
    display: block;
    content: '画像を変更';
    width: 80%;
    height: 5vw;
    background: black;
    color: white;
    opacity: 0.8;
    font-size: 10px;
    line-height: 5vw;
    border-radius: 0 0 100% 100%;
    z-index: 2;
    text-align: center;
  }
  
  #changer__ap__profile-img{
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 1;
  }

  #preview{
    position: absolute;
    top: 0;
    display: none;
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }
  
  .ap__profile-img{
    position: relative;
  }

  .profile__eximg{
    position: relative;
    top: -24vw;
    height: 30vh;
  }
  
  .profile-name{
    position: absolute;
    top: 24vw;
    font-size: 3vh;
    line-height: 4vh;
  }

  .profile__eximg .button__follow:nth-child(2){
    position: absolute;
    top: 5vh;
    left: 30vw;
  }

  .profile__eximg .button__follow:nth-child(3){
    position: absolute;
    top: 5vh;
    left: 60vw;
  }
  
  .button__follow{
    display:block;
    font-size: 16px;
    text-align: center;
    width: 120px;
    height: 36px;
    color: #4CAF50;
    border-radius: 18px;
  }
  
  .profile__intro{
    position: absolute;
    width: 100%;
    height: 4vw;
    top: 30vw;
  }
  
  .f{
    float:left;
  }
  
  .rf{
    clear:left;
  }
  
  .num-follow{
    font-size: 14px;
    color:#4CAF50;
    font-weight:bold;
    text-align: center;
  }
  
  .copy_url_design{
    width:125px;
    height:50px;
    color:#4CAF50;
    border-radius:25px;
    font-size:20px;
    display: none;
  }
  
  .sns__container{
    position: absolute;
    top: 24vh;
    width: 90vw;
  }
  
  .SNS_img{
   display: inline-block;
   width: 36px;
   height: 36px;
   border-radius: 25%;
  }
  
  .follow__container{
    display: flex;
    position: absolute;
    top: 24vw;
    right: 0;
    width: 50%;
    line-height: 4vh;
  }
  
  .clearfix::after{
    content: "";
    clear: both;
    display: block;
  }
  
  
  .url-folders__container{
    margin: 4vh 0;
  }
  
  
  .url-folders__title{
    font-size: 24px;
    margin: 0 2vw;
  }
}
