body{
 max-width:1024px;
 margin:0 auto;
}

.clear{
 clear:both;
}
header{
 border-bottom:1px black solid;
}

header p{
 float:right;
 font-size:4.7em;
 font-family:impact;
 margin: 0.5em 1em 0 0;
}

header img{
 float:left;
 height:400px;
 width:400px;
 margin:0 0 0 3em;
}

.main-logo{
 float:left;
 display:inline-block;
 padding:0.5em;
 background-color:#F5FFFA;
}
.contents img{
 height:340px;
 width:540px;
 box-shadow:0.5px 0.5px 0.5px 0.5px; 
 background-color:white;
}
.footer-logo{
 position:absolute;
 left:50%;
 transform:translateX(-50%);
 color:silver;
 font-size:1.6em;
 margin:0 0 0.2em 0;
 border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
