/* @platong urlput outermost frame */
.urlput_panel{
  position: relative;
  height: 100px;
  width: 200px;
}

.urlput_panel a{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent:-999px;
}

.urlput_panel:hover,  .baloon{
  display: block;
}
 
.text_overflow_url{
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  width: 180px;
  height: 100px;
}

.baloon{
  display: none;
  position: absolute;
  padding: 5px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;  
  border-radius: 8px;
  background: #333;
  color: #fff;
}

.baloon:after {
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 300px;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: #333;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}

