@media screen and (max-width: 767px){

  .urlset_panel h3{
    padding-left: 0.6em;
    font-size: 6vw;
  }

  .folder__mini-profile{
    position: relative;
    display: inline-block;
    margin: 0 0 0 0.6em;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
  }

  .profile-img{
    margin: 2px 0;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    z-index: 2;
  }

  .profile-img__link{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 8;
    width: 100%;
    height: 100%;
  }

  .urlset_panel .account_name{
    padding-left: 0.5em;
    vertical-align:top;
    color: #000;
  }

  /* @platong urlput outermost frame */

  .urlset_panel{
    color: black;
    position: relative;
    width: 92vw;
    background-size: cover;
    margin-bottom: 2vh;
    border-radius: 5px;
    height: 50vw;
  }

  .folder__description{
    position: absolute;
    top: 0.6em;
    height: 50%;
    width: 100%;
    z-index: 2;
  }

  .urlset_panel:before{
    position: absolute;
    display: block;
    content: "";
    height: 100%;
    width: 100%;
    background-image: url("/img/folder_curve.png");
	background-size: cover;
  }

  .urlset_panel a.rigidFolder{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: -999px;
  }

  .edit__folder{
    position: absolute;
    top: 2vw; 
    right: 10px;
    font-size: 16px;
    z-index: 3;
    display: none;
  }
}

/* PC */
@media screen and (min-width: 768px){
  .urlset_panel, .post-folder__folder{
    color:black;
    position: relative;
    width: calc( (900px - 24px) / 3);
    height: 170px;
    background-size: cover;
    margin: 8px 0px;
  }

  .urlset_panel a.rigidFolder{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: -999px;
  }

  .urlset_panel:before{
    position: absolute;
    display: block;
    content: "";
    height: 100%;
    width: 100%;
    background-image: url("/img/folder_curve.png");
  }

  .folder__description{
    position: absolute;
    top: 0.6em;
    height: 50%;
    width: 100%;
  }

  .folder__mini-profile{
    position: absolute;
    left: 6px;
    bottom: 6px;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
  }

  .urlset_panel a.profile-img__link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
  }

  .urlset_panel .account_name{
    vertical-align:top;
    color: #000;
  }

  .urlset_panel h3{
    padding-left: 6px;
    line-height: 25px;
  }

  .profile-img{
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    border: 1px solid gray;
    border-radius: 50%;
    margin: 0 6px 0 0;
  }

  .edit__folder{
    position: absolute;
    top: 12px;
    right: 10px;
    width: 32px;
    height: 32px;
    font-size: 16px;
    z-index: 3;
    display: none;
  }
}
